<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deletePlace()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class = "ion-no-padding">
    <ion-row>
      <ion-col class = "ion-no-padding">
        <ion-img [src] = "place.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class = "ion-text-center">
          {{place.title}}
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf = "place.comments && place.comments.length > 0; else noComments">
          <ion-item *ngFor = "let comment of place.comments">
            {{comment}}
          </ion-item>
        </ion-list>
        <ng-template #noComments>
          <ion-test>
            <p class="ion-text-center">No comments yet.</p>
          </ion-test>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>