<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Places</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="goHome()">
    <ion-icon name="globe"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let place of places" [routerLink]="['/places', place.id]">
      <ion-avatar>
        <ion-img [src]="place.imageURL"></ion-img>
      </ion-avatar>
      <ion-label>
        {{place.title}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addnewPlace()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content> 