<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a new place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type= "text"  placeholder="write a Title" #title></ion-input>
          <ion-input type= "text"  placeholder="write something" #imageURL></ion-input>

          <ion-button color="primary" (click)="saveNewPlace(title, imageURL)">
          save
          </ion-button>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>